@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/Inter-Bold.woff2") format("woff2");
    line-height: 150%;
}
@font-face {
    font-family: "Inter-Medium";
    src: url("../fonts/Inter-Medium.woff2") format("woff2");
    line-height: 150%;
}